{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style17.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
          <a href="#"><img src="logo.png" alt="Logo"></a>
        </div>
        <div class="links">
          {% if user.is_authenticated%}
          <a href="#">Home</a>
          <a href="#">Contact</a>
          <a href="#">About Us</a>
          <a href="/survey">Survey</a>
          
          {% else %}
          <a href="#">Home</a>
          <a href="#">Contact</a>
          <a href="#">About Us</a>
          {% endif %}
        </div>
        <div class="login-signup">
        {% if user.is_authenticated%}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/login">Login</a>
          <a href="/signup">Sign up</a>
        {% endif %}
        </div>
    </nav>
      <div id="search_survey">
        <div class="search_wrap">
          <div class="search">
              <input type="text" placeholder="Type in Keywords to search for Survey" id="searchInput" name="search_s" style="width: 600px; height: 50px;">
              <button onclick="search()">Search</button>
              
              <div id="results"></div>
          </div>
          
          <div id="plus_box">
            <div class="plus_1">

            </div>
            <div class="plus_2">
              
            </div>
        
          </div>
        </div>
      </div>
    <form method="post">
    {% csrf_token %}
      <div id="add_section" style="width: 600px; height: 500px; display: none;">
        <button id="button_add">Add Question</button>
        <div class="container">
          <label for="S_name" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">Survey Name:</label>
          <input style="width: 200px; height: 25px;" id="S_name" name="S_name" type="text">
        </div>
      
        <div id="questions_section"></div>
      
        
      
        <button id="submit_add" type="submit">Submit</button>
      </div>
    </form>
</body>
</html>
