{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style8.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
          <a href="#"><img src="logo.png" alt="Logo"></a>
        </div>
        <div class="links">
          {% if user.is_authenticated%}
          <a href="#">Home</a>
          <a href="#">Contact</a>
          <a href="#">About Us</a>
          <a href="/survey">Survey</a>
          
          {% else %}
          <a href="#">Home</a>
          <a href="#">Contact</a>
          <a href="#">About Us</a>
          {% endif %}
        </div>
        <div class="login-signup">
        {% if user.is_authenticated%}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/login">Login</a>
          <a href="/signup">Sign up</a>
        {% endif %}
        </div>
    </nav>
    <form id="search_survey">
      <div class="search">
        <input type="text" placeholder="Type in Keywords to search for Survey" name="search_s" style="width: 600px; height: 50px;">
      </div>
    </form>
</body>
</html>