{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style8.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
          <a href="#"><img src="logo.png" alt="Logo"></a>
        </div>
        <div class="links">
          {% if user.is_authenticated%}
          <a href="#">Home</a>
          <a href="#">Contact</a>
          <a href="#">About Us</a>
          <a href="/survey">Survey</a>
          
          {% else %}
          <a href="#">Home</a>
          <a href="#">Contact</a>
          <a href="#">About Us</a>
          {% endif %}
        </div>
        <div class="login-signup">
        {% if user.is_authenticated%}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/login">Login</a>
          <a href="/signup">Sign up</a>
        {% endif %}
        </div>
    </nav>
    <form id="search_survey">
      <div class="search">
        <input type="text" placeholder="Type in Keywords to search for Survey" name="search_s" style="width: 600px; height: 50px;">
      </div>
      <div id="plus_box" style="width: 50px; height: 50px;">
        <div class="plus_1" style="width: 30px; height: 3px;">

        </div>
        <div class="plus_2" style="width: 30px; height: 3px;">
          
        </div>

      </div>
      




 
    </form>
    <form method="post">
    {% csrf_token %}
      <div id="add_section" style="width: 600px; height: 500px; display: none;">
        <button id="button_add">Add Question</button>
        <div class="container">
          <label for="S_name">Survey Name:</label>
          <input id="S_name" name="S_name" type="text">
        </div>
        <div class="container">
          <label for="Q_options">Question Type:</label>
          <select id="Q_options" name="Q_options">
            <option value="scale">1-10 Scale</option>
            <option value="own">Own Answer</option>
            <option value="yes_no_maybe">Yes/No/Mabye</option>
          </select>
        </div>
        <div class="container">
          <label class="S_q" for="S_question">Question:</label>
          <input id="S_question" name="S_question" type="text">
        </div>

        
      </div>
      <button type="submit">Submit</button>
    </form>
</body>
</html>
