{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Left Link</a></li>
            <li class="fixed"><a href="#">Link 1</a></li>
            <li class="fixed"><a href="#">Link 2</a></li>
            <li class="fixed"><a href="#">Link 3</a></li>
            <li style="margin-left: auto"><a href="#">Right Link 1</a></li>
            <li style="margin-left: 10px"><a href="#">Right Link 2</a></li>
        </ul>
    </nav>
</body>
</html>
