* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;


}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav__links {
    list-style: none;

}
.nav__links li{
    display: inline-block;
    padding: 0px 20px
}

.nav__links li a {
    padding: 14px 16px;
}
.nav__links li a:hover {
    background-color: #0088a9;
}