#signin_header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 50px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .links a {
    margin: 0 30px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
  }
  .links a:hover{
    background-color: #189acd;
    color:#fff;
    border-radius: 5px;
  
  }
  
  .login-signup a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .login-signup a:last-child {
    background-color: #f1d413;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
  
  
  
  }

#signin_header{
  transform: translate(20px, 20px)
}
.signin_form{
    margin-top: 4%;
    background-color:aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
}
.inputForm input{
    margin-bottom: 15px;
    display: block;
}
.inputForm{
    transform: translate(20px, 30px);
    
}

#fButton{
    transform: translate(20px, 30px);
    width: 600px;
    height: 40px;
}
.optionF{
    width: 613px;
    height: 400px;
    background-color: #333;
    transform: translate(900px, -650px);
    
}
