nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 50px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .links a {
    margin: 0 30px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
  }
  .links a:hover{
    background-color: #189acd;
    color:#fff;
    border-radius: 5px;
  
  }

input{
 margin-left: auto;
 margin-right: auto;
 display: block;
 margin-top: 10%;


}
#plus_box{
  background-color: #189acd;
  transform: translate(1155px, -50px)
}
.plus_1{
background-color: black;
transform: translate(10px, 23px)
}
.plus_2{
  background-color: black;
  transform: translate(10px, 20px) rotate(90deg);
 
  
}
#add_section{
  background-color: white;
  transform: translate(555px, -116.5px);
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: darkgray;
  border-width: 1px;


}
.container{
  margin-left: 10px;
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
  align-items: baseline;
  margin-bottom: 10px;
}
.container label{
  margin-top: 5px;
  margin-right: 10px;
  white-space: nowrap;
  align-self: flex-start;

}
.container input[type="text"],
.container select{
  width: 200px;
  margin: 5px
}

